Checks: >
  clang-analyzer-*,
  bugprone-*,
  performance-*,
  portability-*,
  readability-*
WarningsAsErrors: '*'
HeaderFilterRegex: '.*'
CheckOptions:
  - key: readability-identifier-length.IgnoredVariableNames
    value: 'i|j|x|y|ch|hr|ec|it|in|os'
  - key: readability-function-cognitive-complexity.Threshold
    value: '80'
  - key: readability-function-size.LineThreshold
    value: '250'
